body{
    margin:0;
    padding:0;
    border: none;

}
form{
    display: flex;
    background-color: antiquewhite;
}
button{
    padding: 10px;
    margin:5px;
    background-color: #28a745;
    text-align: center;
}
