body{
    margin:0;
    padding:0;
    border: none;
}
h1{
    font-size: 24px;
    color: green;
    background-color: yellow;
    text-align: center;
}
h2{
    font-size: 18px;
    color: green;
    text-align: center;
}
button{
    padding: 10px;
    background-color: #4CAF50;
    text-align: center;
}
#b1{
    background-color: #ed2c13;
}
